/* Default font-size */
$font-size: 16px;

/* Color Variation */
$accent-color: #8860D0;
$primary-color: #C1C8E4;
$info-color: #ad107b;
$success-color: #5680E9;
$secondary-color: #5AB9EA;
$wighte-color: #f9f9f9;
$dark-color: #181114;
$light-color: #84CEEB;

/* Size Variation */
$wrapper-width: 400px;
$gutter-width: 1em;

/* Responsive Size */
$xl: 1399px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
